*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* text-transform: capitalize; */
    text-decoration: none;
}
body{
    height: 100vh;
    width: 100%;
}
.header{
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    background-color: rgb(183, 231, 179);
    border-radius: 0 0 40px 40px;
}
.header .logo{
    height: 120px;
}
.header .logo img{
    height: 100px;
    /* border: 2px solid black; */
    border-radius: 50%;
    margin-top: 9px; 
    margin-left: 16px;
    box-shadow: 10px 3px 10px rgba(11, 126, 180, 0.7);
    background-color: white;
}
/* .header .navbar{
} */
.header .navbar ul{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    margin-right: 54px;
    padding-left: 9px;
    list-style: none;
}
.header .navbar ul li{
    padding: 13px;
    margin-top: 15px;
    font-size: 19px;
    font-weight: bold;
}
.header .navbar ul li a{
    color: #000;
    padding: 7px;
}
.header .navbar ul li:hover{
    background:  rgb(78, 194, 101);
    border-radius: 5px;
}
/* Start main sectoin */
.main{
    /* border: 2px solid black; */
    position: relative;
    border-radius: 5px;
    background-color: bisque;
    margin-top: 10%;
    margin-left: 5%;
    max-width: 1200px;
}
.main .text{
    padding: 3%;
}
.main .text p{
    padding: 15px;
    font-size: 20px;
}
.main .text h1{
    font-weight: 700;
    font-size: 35px;
    margin-left: 12px;
    margin-top: 10px;
}
.main .img{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 292px;
    width: 490px;
    border-radius: 0 5px 5px 0;
}
.main .text .info{
    display: block;
    font-size: 17px;
    margin-top: 10px;
}
.main .btns{
    display: inline-block;
    margin-left: 4%;
    margin-bottom: 20px;
}
.btns .btn1{
    font-weight: 500;
    color: #fff;
    padding: 8px;
    background-color: rgb(233, 116, 108);
    border: 1px solid black;
    border-radius: 5px;
}
.btns .btn2{
    font-weight: 400;
    color: #000;
    padding: 8px;
    margin-left: 8px;
    border: 1px solid black;
    border-radius: 5px;
}
/* End main sectoin */